services:
  database:
    image: postgres:16-alpine
    container_name: database
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: mypass
      POSTGRES_DB: postgres
    volumes:
      - obsi_go:/var/lib/postgresql/data
      - ./data:/docker-entrypoint-initdb.d:ro
    restart: always
    networks:
      - obsi_go_net
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  notes:
    build:
      context: .
      dockerfile: services/notes/Dockerfile.notes
    container_name: notes
    environment:
      POSTGRES_HOST: database
      POSTGRES_PORT: 5432
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: mypass
      POSTGRES_DB: postgres
      POSTGRES_SSLMODE: disable
    networks:
      - obsi_go_net
    depends_on:
      database:
        condition: service_healthy
    restart: always

  updater:
    build:
      context: .
      dockerfile: services/updater/Dockerfile.updater
    container_name: updater
    environment:
      NOTES_ADDR: notes:9001
    networks:
      - obsi_go_net

  gateway:
    build:
      context: .
      dockerfile: gatewate/Dockerfile.gateway
    container_name: gateway
    environment:
      NOTES_ADDR: notes:9001
      UPDATER_ADDR: updater:9002
    ports:
      - "8080:8080"
    networks:
      - obsi_go_net
    depends_on:
      - notes
      - updater

networks:
  obsi_go_net:
    name: obsi_go_net
    driver: bridge

volumes:
  obsi_go:
    name: obsi_go
